@use "../variables" as *;
@use "../mixins" as *;

.hero {
    width: 100%;
    aspect-ratio: 500 / 724;
    background: url('../../assets/images/hero_bg.png') no-repeat center / cover;
    .content {
        width: 100%;
        aspect-ratio: 455 / 623;
        background: url('../../assets/images/hero_frame.png') no-repeat center / 94%;
        display: flex;
        justify-content: start;
        flex-direction: column;
        .subtitle {
            font-family: $font-Aboreto-Regular;
            font-weight: 300;
            margin: 58% 0 2%;
        }
        .couple-name {
            font-size: 62px;
            font-family: $font-BigelowRules-Regular;
            color: $title-color;
            line-height: .9;
            .ampersand {
                font-size: 54px;
                color: $pink-color;
            }
        }
        .date {
            margin-top: 10%;
            .dayofweek {
                font-family: $font-Aboreto-Regular;
                font-weight: 300;
                text-transform: uppercase;
            }
            .fulldate {
                font-size: 13.6px;
            }
        }

        @media (max-width: 500px) {
            .couple-name {
                font-size: calc((62 / 500) * 100vw);
                .ampersand {
                    font-size: calc((54 / 500) * 100vw);
                }
            }
            .date {
                .fulldate {
                    font-size: calc((13.6 / 500) * 100vw);
                }
            }
        }
    }
}
