$shadow-default: 0 10px 20px rgba(0, 0, 0, 0.281);
$radius: 14px;

// Colors
$title-color: #95b1ddff;
$text-color: #231f20ff;
$pink-color: #c05b7dff;
$secondary-color: #f8e9ee;
$bg-color: #fff;

// Font
$font-Aboreto-Regular: 'Aboreto-Regular', sans-serif;
$font-Almendra-BoldItalic: 'Almendra-BoldItalic', sans-serif;
$font-Almendra-Italic: 'Almendra-Italic', sans-serif;
$font-Almendra-Regular: 'Almendra-Regular', sans-serif;
$font-Almendra-Bold: 'Almendra-Bold', sans-serif;
$font-BigelowRules-Regular: 'BigelowRules-Regular', sans-serif;
$font-lora: 'Lora', sans-serif;

// Animation
$duration-fast: 0.5s;
$duration-slow: 1.2s;
